.resume-box {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 2px solid var(--details--margin);
}

.resume-header {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid var(--details--margin);
  background-color: var(--header-bg-color);
  display: flex;
}

.resume-header span {
  font-size: 20px;
  height: 20px;
  color: var(--details--header-letter);
  font-weight: 600;
  margin-left: 15px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-content-expanded {
  white-space: pre-wrap;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.resume-content,
.resume-content-expanded {
  white-space: pre-wrap;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.resume-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 3 * 1.7em;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.resume-content-expanded {
  overflow: auto;
}

.resume-content p,
.resume-content-expanded p {
  font-family: "Quicksand", sans-serif;
  color: var(--content-other-letters-300);
}

.resume-box a {
  color: var(--content-title);
  padding-bottom: 15px;
  text-decoration: none;
}
