.discuss-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 2px solid var(--details--margin);
}

.discuss-header {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid var(--details--margin);
  background-color: var(--header-bg-color);
  display: flex;
}

.discuss-header span {
  font-size: 20px;
  height: 20px;
  color: var(--details--header-letter);
  font-weight: 600;
  margin-left: 15px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discuss-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
