.content {
  margin-left: 43px;
  margin-right: 44px;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.title-box {
  width: 786px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box h2 {
  color: var(--orange-200-100);
  font-weight: bold;
  font-size: 20px;
}

.content-buttons-title {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 216px;
  margin-top: 5px;
  gap: 5px;
}

.download-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-200-100);
  width: 121px;
  height: 31px;
  color: var(--bg-color);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  gap: 5px;

  transition: 0.2s;
}
.download-button button:hover {
  filter: brightness(0.9);
}

.fav-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-200-100);
  width: 43px;
  height: 31px;
  color: var(--bg-color);
  border: 0;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;

  transition: 0.2s;
}
.fav-button button:hover {
  filter: brightness(0.9);
}

.doi-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-200-100);
  width: 43px;
  height: 31px;
  color: var(--bg-color);
  border: 0;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;

  transition: 0.2s;
}
.doi-button button:hover {
  filter: brightness(0.9);
}

.details-title-box {
  width: 239px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3px;
}

.details-title-box span {
  color: var(--orange-200-100);
  font-size: 14px;
}

.content-video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 19px;
}

.img-box img {
  width: 783px;
  height: 439px;
}

.details-box {
  display: flex;
  flex-direction: column;
  width: 242px;
  height: 439px;
  border: 2px solid var(--light-gray-200);
}

.details-header {
  width: 242px;
  height: 45px;
  border-bottom: 2px solid var(--light-gray-200);
  background-color: var(--light-gray-100);
  display: flex;
}

.details-header span {
  font-size: 20px;
  height: 20px;
  color: var(--dark-gray-700);
  font-weight: 600;
  margin-left: 15px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-texts-box {
  width: 212px;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 14px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Quicksand", sans-serif;
}

.details-texts-box p {
  font-family: "Quicksand", sans-serif;
  margin-top: 0;
  font-size: 12px;
  color: var(--dark-gray-400);
  margin-bottom: 0;
}

.details-texts-box h1 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  font-size: 14px;
  color: var(--dark-gray-400);
}

.details-texts-box .parafOne {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: var(--dark-gray-400);
  margin-bottom: 0;
}

.details-texts-box span {
  font-size: 12px;
  color: #ada0a0;
}
