<div class="content">
  <div class="content-header">
    <div class="title-box">
      <h2>
        {{ article.title }}
      </h2>
    </div>
     <div class="content-buttons-title">
      <div class="button-box">
        <div class="download-button">
          <button>
            <img src="/assets/images/svg/download.svg" />
            Download
          </button>
        </div>

        <div class="fav-button">
          <button>
            <img src="assets/images/svg/star.svg" />
          </button>
        </div>

        <div class="doi-button">
          <button>
            <img src="assets/images/svg/doi.svg" />
          </button>
        </div>
      </div>
      <div class="details-title-box">
        <span>COMO CITAR ESSE TRABALHO?</span>
      </div>
    </div>
    
  </div>
</div>

