<div class="topic-box">
  <div *ngIf="!showFormTopic && !showSuccessMessage" class="new-topic">
    <h1>Compartilhe suas ideias ou dúvidas com os autores!</h1>

    <div class="new-topic-images">
      <img class="img-1" src="/assets/images/svg/hand.svg" />
      <img class="img-2" src="/assets/images/svg/quiz.svg" />
      <img class="img-3" src="/assets/images/svg/idea.svg" />
    </div>
    <p>
      Sabia que o maior estímulo no desenvolvimento científico e cultural é a
      curiosidade? Deixe seus <br />
      questionamentos ou sugestões para o autor!
    </p>

    <div class="btn-create-topic">
      <button (click)="handleNewTopic()">
        <img src="/assets/images/svg/create.svg" />criar tópico
      </button>
    </div>
    <div class="line"></div>
  </div>

  <div *ngIf="showFormTopic && !showSuccessMessage"  class="form-topic">
    <div class="form-title">
      <span>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os
        autores!</span>
    </div>

    <form
      (ngSubmit)="submit()"
      [formGroup]="questionForm"
      #formDir="ngForm"
      class="ops-topic-subject">
      <h1>Assunto</h1>
      <input
        class="subject"
        type="text"
        placeholder="Defina um tópico sucinto para notificar os autores..."
        formControlName="title"
        required
      />
      <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
        <p>O assunto é obrigatório.</p>
      </div>
      <div class="content">
        <h1>Conteúdo</h1>
        <div class="box-field">
          <textarea rows="5" formControlName="text" class="content"></textarea>
          <div
            *ngIf="text.invalid && formDir.submitted" class="validation-error">
            <p>A Conteúdo é obrigatória.</p>
          </div>
          <div class="content-footer">
            <button (click)="addQuestion" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="line2"></div>
  </div>

  <div *ngIf="showSuccessMessage" class="topic-success">
    <h1>Seu tópico foi enviado com sucesso! :D</h1>

    <p>
      Agradecemos por sua contribuição, uma notificação será enviada ao seu
      email assim que seu tópico for respondido!
    </p>

    <a href="#">Descubra outros trabalhos!</a>

    <div class="new-topic-button">
      <button (click)="handleNewTopic()">criar novo tópico</button>
    </div>
    <div class="line3"></div>
  </div>
</div>

