.topic-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//new topic
.new-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-topic h1 {
  color: var(--content-title);
  font-size: 18px;
  margin-top: 15px;
}

.new-topic-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 27px;
  margin-bottom: 35px;
  width: 250px;
}

.new-topic-images img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.new-topic p {
  font-family: "Quicksand", sans-serif;
  color: var(--content-other-letters-400);
  font-size: 14px;
}

.btn-create-topic {
  margin-top: 14px;
}

.btn-create-topic button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  height: 32px;
  width: 133px;
  color: #ffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to top, #ee7a3a, #ffb354);
  
  transition: 0.2s;
}
.btn-create-topic button:hover {
  filter: brightness(0.9);
}

.line {
  border-top: 1px solid var(--content-margin);
  position: relative;
  top: -16px;
  width: 100%;
  z-index: -1;
}

.btn-create-topic img {
  margin-right: 5px;
  height: 17px;
  width: 17px;
}