.topic-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//new topic
.new-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-topic h1 {
  color: var(--content-title);
  font-size: 18px;
  margin-top: 15px;
}

.new-topic-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 27px;
  margin-bottom: 35px;
  width: 250px;
}

.new-topic-images img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.new-topic p {
  font-family: "Quicksand", sans-serif;
  color: var(--content-other-letters-400);
  font-size: 14px;
}

.btn-create-topic {
  margin-top: 14px;
}

.btn-create-topic button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  height: 32px;
  width: 133px;
  color: #ffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to top, #ee7a3a, #ffb354);
  
  transition: 0.2s;
}
.btn-create-topic button:hover {
  filter: brightness(0.9);
}

.line {
  border-top: 1px solid var(--content-margin);
  position: relative;
  top: -16px;
  width: 100%;
  z-index: -1;
}

.btn-create-topic img {
  margin-right: 5px;
  height: 17px;
  width: 17px;
}

//form

.form-topic {
  width: 100%;
}

.form-title {
  text-align: center;
  margin-top: 15px;
}

.form-title span {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: var(--content-other-letters-300);
}

.ops-topic-subject {
  display: flex;
  flex-direction: column;
}

.ops-topic-subject h1 {
  color: var(--content-title);
  font-size: 16px;
  margin-bottom: 1px;
}

.ops-topic-subject input {
  font-family: "Quicksand", sans-serif;
  border: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
}

.content textarea {
  font-family: "Quicksand", sans-serif;
  border: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
}

.content-footer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  margin-top: -3px;
  background-color: #eaf1f2;
  border: 1px solid #cccccc;
}

.content-footer button {
  font-size: 15px;
  font-weight: bold;
  color: #ffff;
  background: linear-gradient(to top, #ee7a3a, #ffb354);
  border: 0;
  width: 205px;
  height: 31px;
  transition: 0.2s;
}
.content-footer button:hover {
  filter: brightness(0.9);
}


.box-field {
overflow: hidden;
border-radius: 3px;
border: 1px solid #cccccc;
}

.line2 {
  border-top: 1px solid var(--content-margin);
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

//success
.topic-success{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width: 100%;
}

.topic-success h1 {
  color: var(--content-title);
  font-size: 18px;
  margin-top: 15px;
}

.topic-success p {
  font-family: "Quicksand", sans-serif;
  color: var(--content-other-letters-400);
  font-size: 14px;
   margin-top: 18px;
   margin-bottom: 29px;
}

.topic-success a {
  font-family: "Quicksand", sans-serif;
  color: var(--orange);
  font-size: 14px;
 
}

.new-topic-button{
  margin-top: 47px;
}

.new-topic-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  height: 32px;
  width: 235px;
  color: #ffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to top, #ee7a3a, #ffb354);

  transition: 0.2s;
}
.new-topic-button button:hover {
  filter: brightness(0.9);
}


.line3 {
  border-top: 1px solid var(--content-margin);
  position: relative;
  top: -16px;
  width: 100%;
  z-index: -1;
}
