:root {
  --bg-color: #ffff;
  --white-200: #f8f8f8;
  --light-gray-100: #fdf1eb;
  --gray-100: #725c5c;
  --gray-200: #333333;
  --gray-300: #cccccc;
  --orange-200-100: #ed7839;
  --dark-gray-100: #4e4e4e;
  --dark-gray-200: #4d4d4d;
  --dark-gray-300: #595959;
  --dark-gray-400: #5c5c5c;
  --dark-gray-500: #757575;
  --dark-gray-600: #ada0a0;
  --dark-gray-700: #4e4e4e;
  --dark-gray-800: #ada0a0;
  --light-gray-200: #ececec;
  --light-gray-300: #bfbfbf;
  --light-gray-400: #e7e7e7;

  --orange-200: #f48f44;
}


body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
